.popup {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch; /* For better scroll in iOS */
}

.popup-content {
  display: flex;
  min-height: 100%;
  justify-content: center;
  align-items: center;
}

.popup-body {
  position: relative;
  margin: 30px 0;
}

.popup-close-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: none;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
}
